.home {
  display: flex;
  flex-direction: column;
}

.nav-holder {
  height: 20vh;
}

.form-holder {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.login-nav {
  height: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
  padding: 10px;
}

.logo-name {
  display: flex;
  align-items: center;
}

img {
  height:40px;
  width:40px;
}

