@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.home {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.imgur.com/52htTsl.jpg");
  background-size: cover;
  height: 100vh;
}

.nav-holder {
  height: 10vh;
}

.form-holder {
  display: flex;
  align-items:center;
  justify-content: center;
}

.login-form, .register-form{
grid-column: 1;
grid-row: 1;
place-self: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;
background-color:hsl(0, 0%, 0%, 0);
color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.input {
  border-radius: 20px;
  background-color: #2a2c37;
  border: none;
  margin: 5px;
  height: 30px;
  width: 250px;
  color: white;
}

.button {
  height: 35px;
  width: 100px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #e55ae2 , #ee1908);
  color: white;
  cursor: pointer;
  border: none;
  font-family: 'Chakra Petch', sans-serif;
}
.button2 {
  height: 35px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #e55ae2 , #ee1908);
  color: white;
  cursor: pointer;
  border: none;
  font-family: 'Chakra Petch', sans-serif;
}

.invisible {
  visibility: hidden;
}

.login-nav {
  height: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 0%, 0);
  padding: 10px;
  color: white;
}

.logo-name {
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.homeHeader {
  color: white;
  font-size: 100px;
  margin: 150px 0 50px 0;
  font-family: 'Chakra Petch', sans-serif;
}

img {
  height:40px;
  width:40px;
}

.homeButton {
  color: white;
  border: 1px solid #2a2c37;
  height: 35px;
  background-image: linear-gradient(to right, #e55ae2 , #ee1908);
  border-radius: 50px;
  border: none;
  width: 150px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .6px;
  cursor: pointer;
}

.createHeader1, .createHeader2 {
  margin: 0;
  font-style: oblique;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow: 6px 3px 8px #000000;
  font-size: 25px;
}

.createHeader1 {
  margin-top: 60px;
}
.createHeader3 {
  margin-top: 60px;
  font-style: oblique;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow: 6px 3px 8px #000000;
  font-size: 25px;
}

.createHeaderDiv {
  margin: 5px;
}



