.profilePage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  background-color: #17181e;
  color: white;
  width: 33vw;
  height: 100vh;
}

.profile {
  width: 66vw;
}

.profileGrid {
  height: 100vh;
  display: grid;
  align-items:center;
}

.profileCard {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  display: flex;
  flex-direction: column;
  background-color: #17181e;
  width: 350px;
  height: 500px;
  color: white;
  border-radius: 20px;
  overflow: auto;
  border: 2px solid #2a2c37;
}

.userAvatar {
  height: 250px;
  width: 250px;
  padding: 20px;
}