.nav {
  background-color: black;
  color: white;
  width: 33vw;
  height: 100vh;
}

.userIconAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.userIconAndName:hover {
  background-color: black;
  border-radius: 50px;
}

.userName {
  margin: 0;
  padding: 0 10px;
}

.userIcon {
  background-color: white;
  border-radius: 50px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding: 10px 0 10px 0;
}

.logoutButton, .postsButton, .swipeButton {
  padding: 2px;

}

/* ////// */

#root {
  overflow-x: hidden;
}

.swipePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100vw; */
}

.swipePg {
  width: 66vw;
  grid-column: 2;
  grid-row: 1;
}

.swipeGrid {
  width: 66vw;
  display: grid;
  align-items:center;

}
.swipe {
  position: absolute;
}

.swipeCard {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  display: flex;
  flex-direction: column;
  background-color: #17181e;
  width: 400px;
  height: 600px;
  color: white;
  border-radius: 20px;
  position: relative;
}

.swipeCard2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17181e;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  overflow: auto;
  border: 2px solid #2a2c37;
  margin: 18px 0 0 -2px;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}



