.nav {
  background-color: #17181e;
  color: white;
  width: 462px;
  height: 100vh;
  border: 2px solid #2a2c37;
  position: sticky;
}

.userIconAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 10px;
}

.userIconAndName:hover {
  background-color: hsl(0, 0%, 0%, .5);
  border-radius: 50px;
  transition: 0.3s;
}

.userName {
  margin: 0;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 300;
}

.userIcon {
  height: 50px;
  width: 50px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #e55ae2 , #ee1908);
  padding: 10px 0 10px 0;
  height: 60px;
}

.logoutButton, .postsButton, .swipeButton {
  padding: 2px;

}


.updatePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  height: 100vh;
}

.update {
  width: 66vw;
}

.updateGrid {
  height: 100vh;
  display: grid;
  align-items:center;
}

.updateForm {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  display: flex;
  flex-direction: column;
  background-color: #17181e;
  width: 400px;
  height: 600px;
  color: white;
  border-radius: 20px;
  border: 2px solid #2a2c37;
  overflow-y: scroll;
  scrollbar-color: #17181e;
}

.formDiv {
  display: flex;
  flex-direction: column;
  padding: 0px 0 20px 0;
}

#avatar, #name, #username, #skills, #socialLinks, #projects {
  text-align: left;
  padding: 0 0 0 30px;
  margin: 5px 0 5px 0;
  background-color: black;
  border-top: 2px solid #2a2c37;
  border-bottom: 2px solid #2a2c37;
  border-right: none;
  border-left: none;
  height: 44px;
  color: white;
  font-size: 15px;
  font-family: 'Figtree', sans-serif;
  letter-spacing: .5px;
  font-weight: 100;
}

.avatarMap, .selectAvatarButton {
  height: 45px;
  overflow-y: auto;
  background-color:black;
  border-top: 2px solid #2a2c37;
  border-bottom: 2px solid #2a2c37;
}

.selectAvatarButton {
  border-right: none;
  border-left: none;
  padding: 0 0 0 20px;
}

.avatarMap {
  width: 400px;
  padding: 0 0 0 20px;
}

.avatarDiv {
  margin: 70px 0 0 0;
}

.updateButtons {
  width: 400px;
  margin: 0;
  position: fixed;
  border-radius: 50px;
}

.submitButton1, .submitButton2 {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border: 1px solid #2a2c37;
  font-weight: bold;
}

.submitButton1 {
  border-radius: 20px 0 0 0;
  color: #ec2c2c
}

.submitButton2 {
  border-radius: 0 20px 0 0;
}

.deleteButtons {
  text-align: center;
}

.deleteButton {
  color: white;
  border: 1px solid #2a2c37;
  height: 45px;
  background-image: linear-gradient(to right, #e55ae2 , #ee1908);
  border-radius: 50px;
  border: none;
  width: 250px;
  margin: 0 0 20px 0;
  text-align: center;
  font-family: 'Figtree', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .8px;
}

.formLabel {
  padding: 5px 0 8px 10px;
  color: #94959d;
  font-size: 13px;
}

.logoutButton:hover, .postsButton:hover, .swipeButton:hover {
  background-color: hsl(0, 0%, 0%, .5);
  border-radius: 50px;
  transition: 0.3s;
}

.logoutButton, .postsButton, .swipeButton {
  margin: 5px;
}

.userInfoButtons {
  display: flex;
}